
.my-color {
	color: rgb(6, 18, 44);
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: url(./assets/background.svg) no-repeat center center fixed;
}

.my-root-form-container {
	height: 100svh;
	display: flex;
	justify-content: center;

}

.my-root-company-text-wrapper {
	text-align: center;
	margin-bottom: 10px;
}

.my-root-form-left {
	width: 100%;
	background-color: red;
	max-width: 900px;
}

.my-root-form-right {
	width: 100%;
	background-color: blue;
}